@use "/src/styles/imports/settings" as *;
@use "/src/styles/imports/tools" as *;

.button {
  @include customFlex(row, nowrap, normal, center);
  gap: 0.5rem;
  border: 2px solid $stroke;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  background-color: $main;
  color: $stroke;
  transition: background 0.3s ease-in;

  &:hover {
    border-color: $main;
    background: $stroke;
    color: $main;
  }

  &:active {
    box-shadow: 2px 2px 6px #ffffff70 inset;
  }
}
