@use "../imports/tools" as *;
@use "../imports/settings" as *;

// by dynamic colors of the pokemon-card.jsx
.card:hover {
  border-color: $secondary !important;
  box-shadow: none !important;
}

.card {
  @include customFlex(column, nowrap, space-evenly, normal);
  gap: 0.8rem;
  background-image: url("https://cdn.pixabay.com/photo/2016/08/27/11/59/pokemon-1624022_1280.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid;
  border-radius: 1rem;
  padding: 1rem;
  color: $white;
  cursor: pointer;

  &__number {
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-family: "Edit Undo BRK", sans-serif;
  }

  &__name {
    font-size: 1.2rem;
    font-variant: small-caps;
    text-align: center;
  }

  &__sprites {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    margin: auto;
    position: relative;
    filter: drop-shadow(1px 1px 0.2rem #ffffff62);
  }

  &__types {
    @include customFlex(row, nowrap, center, center);
    gap: 1rem;
  }
}
