@use "/src/styles/imports/tools.import" as *;
@use "/src/styles/imports/settings.import" as *;

// by dynamic colors of the pokemon-card.jsx
.pokemon:hover {
  border-color: $highlight !important;
  box-shadow: none !important;
}

.pokemon {
  @include customFlex(column, nowrap, space-evenly, normal);
  gap: 0.8rem;
  background-image: url("/src/assets/bg-pokemon-card.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid;
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  cursor: pointer;

  &__number {
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-family: "Edit Undo BRK", sans-serif;
  }

  &__name {
    font-size: 1.2rem;
    font-variant: small-caps;
    text-align: center;
  }

  &__sprites {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    margin: auto;
    position: relative;
    filter: drop-shadow(1px 1px 0.2rem #fff);
  }

  &__types {
    @include customFlex(row, nowrap, center, center);
    gap: 1rem;

    &-type {
      border-radius: 0.6rem;
      font-family: Arial, Helvetica, sans-serif;
      font-family: "Edit Undo BRK", sans-serif;
      letter-spacing: 1px;
      padding: 0.1rem 1rem;
      background: #00000085;
      border: 1px solid transparent;
    }
  }
}
