@use "/src/styles/imports/tools" as *;
@use "/src/styles/imports/settings" as *;

.options {
  @include customFlex(row, wrap, space-between, center);
  gap: 2rem;

  &-list {
    @include customFlex(row, wrap, normal, normal);
    gap: 1.2rem;

    &__type {
      cursor: pointer;
      color: $white;
      background: $black;
      letter-spacing: 0.16rem;
      font-family: "Low Gun Screen", sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      border: 1px solid;
      border-radius: 0.4rem;
      padding: 0.1rem 0.8rem;

      &:hover {
        background-color: $secondary;
        color: $black;
        border-color: transparent !important;
      }
    }
  }
}
