@use "/src/styles/imports/tools.import" as *;
@use "/src/styles/imports/settings.import" as *;

.options {
  @include customFlex(row, wrap, space-between, center);
  gap: 2rem;

  &__select {
    @include customFlex(row, wrap, normal, normal);
    gap: 1rem;

    &-type {
      color: #fff;
      letter-spacing: 0.1rem;
      font-family: "Low Gun Screen", sans-serif;
      font-size: 1.2rem;
      border: 1px solid;
      border-radius: 0.4rem;
      padding: 0.1rem 0.8rem;
      &:hover {
        background-color: $tertiary;
        color: #000;
        border-color: transparent !important;
      }
    }
  }
  &__search {
    @include customFlex(row, nowrap, normal, center);
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid $highlight;
    border-radius: 0.4rem;
    width: 25rem;
    margin: auto;

    &-icon {
      font-size: 1.6rem;
      color: $highlight;
    }
  }
}

@media screen and (max-width: 629px) {
  .options__search,
  .options__select {
    width: 100%;
  }
}
