@use "/src/styles/imports/tools" as *;
@use "/src/styles/imports/settings" as *;

.footer {
  &__main-social {
    @include customFlex(row, nowrap, normal, center);

    &__hr {
      border-top: 1px solid $main;
      width: 100%;
    }
  }

  &__main-info {
    @include customFlex(column, nowrap, normal, center);
    gap: 0.5rem;

    &__h3 {
      font-size: 1.2rem;
      font-family: "Courier New", Courier, monospace;
    }

    &__copyright {
      @include customFlex(row, nowrap, normal, center);
      gap: 0.3rem;
    }

    &__links {
      @include customFlex(row, nowrap, normal, normal);
      gap: 1rem;

      &-link {
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

.social {
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem;
  color: $main;

  &-icon {
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.2rem;
    z-index: 1;
  }
}
