@use "/src/styles/imports/tools.import" as *;
@use "/src/styles/imports/settings.import" as *;

.bg-shadow {
  background-color: #00000091;
  min-height: 100vh;
}

.main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  @include customFlex(column, nowrap, normal, normal);
  gap: 2rem;
}
