@use "../imports/tools" as *;
@use "../imports/settings" as *;

.navbar {
  @include customFlex(row, nowrap, space-between, center);
  gap: 2rem;
  padding: 0.5rem 0;

  &-img {
    object-fit: contain;
    width: 8rem;
  }
}
