@use "/src/styles/imports/settings.import" as *;
@use "/src/styles/imports/tools.import" as *;

.pokemon-article {
  @include customFlex(column, nowrap, normal, normal);
  gap: 1rem;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
}

.button-list {
  margin: auto;
  padding: 0.3rem 2rem;
  font-weight: bold;
}

.pokemon-alert {
  @include customFlex(column, nowrap, center, center);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;

  &__svg {
    max-width: 16rem;
    filter: drop-shadow(1px 1px 0.2rem #00000083);
  }

  &__title {
    font-size: 2.5rem;
    color: $highlight;
    text-shadow: 2px 2px 6px $stroke;
  }

  &__text {
    color: #fff;
    font-size: 1.1rem;
  }
}
