@use "./styles/imports/components";
@use "./styles/imports/container";
@use "./styles/imports/generic";
@use "./styles/imports/pages";
@use "./styles/imports/settings";
@use "./styles/imports/tools";

body {
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bg-shadow {
  background-color: #00000091;
  min-height: 100vh;
}

.default-size {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
