@use "/src/styles/imports/generic.import";
@use "/src/styles/imports/settings.import";
@use "/src/styles/imports/tools.import";
@use "/src/styles/imports/components.import";
@use "/src/styles/imports/container.import";

body {
  background-image: url("https://wallpapercave.com/wp/wp12200642.png");
  background-position: center;
  height: 100vh;
  background-size: cover;
}
